<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create tasks</title>
</head>
<body>
    {% extends 'base/base.html' %}
    {% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="" method="POST" class="card card-body">
                    <h1 class="text-center">Create Tasks</h1>
                    {{ error }}
                    {% csrf_token %}
                    {{ form }}


     <button class="btn btn-primary mt-3">
         Save
     </button>
                  

                </form>
            </div>
        </div>

    </main>
    {% endblock %}
    
</body>
</html>