<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'base/base.html' %} 
    {% block content %}
    
    <main class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
          <form method="POST" class="card card-body">
            <h1 class="text-center">Update Taks</h1>
            {% csrf_token %} 
            {{ form }} 

            <button class="btn btn-primary">Update</button>
            
          </form>
          <div>
            <form action="{% url 'completedTask' task.id %}" method="POST" class="card card-body">
              {% csrf_token %}
              <button class="btn btn-primary" >Completed</button>
            
          </form>
            <form action="{% url 'incompletedTask' task.id %}" method="POST" class="card card-body">
              {% csrf_token %}
              <button class="btn btn-primary" >Incompleted</button>
            
          </form>
         
         
          

           </div>

        </div>
      </div>
    </main>




    
    {% endblock %}
  </body>
</html>
