<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django app</title>
</head>
<body>
    {% extends 'base/base.html' %}
    {% block content %}

    <main class="container py-5 ">
        <section >
            
            <h1 class="display-1 text-center text-dark"> Aplicación en Django!</h1>
            
        </section>
        <section class="card card-body ">
            <p class="text-dark" >
                Soy un desarrollador junior y autodidacta que ha trabajado arduamente para crear esta aplicación para usted. A pesar de que soy nuevo en este campo, he dedicado mucho tiempo y esfuerzo para asegurarme de que esta aplicación esté optimizada y sea fácil de usar. </p>
               
               
                <p class="text-dark">He implementado características que espero que encuentren útiles y fáciles de usar. Siempre estoy abierto a comentarios y sugerencias para mejorar esta aplicación y proporcionar una experiencia aún mejor.</p>
           {% if user.is_authenticated %}


           {% else %}
           <div class="text-center">
               <a class="btn btn-primary" href="{% url 'singup' %}">
                   Sing-up
               </a>
               <a class="btn btn-primary" href="{% url 'singin' %}">
                   Sing-in
               </a>
           </div>
           
           {% endif %}

        </section>
    </main>
    {% endblock %}
    
</body>
</html>